.about .content a, .about .full-content a {
	color: $link-color-about;
	&:hover {
		color: darken($link-color-about,20%)
	}
}

.main--about {
	background: #fff;
	padding-bottom: $padding-lg;
	img {
		max-width: 200px;
		float: left;
		margin-right: $padding-base;
		box-shadow: 0 0 8px rgba(0,0,0,0.4);
	}
}

.aboutpage {
	@include center($pad:40px);
	&__title {
		font-family: $font-headline;
		font-size: 2.25em;
	}
	&__content {
		font-size: 1.1em;
		line-height: 1.5em;
	}
}
