.audio-projects {

}

.audio-project {
  @include clearfix();
  box-sizing: border-box;
	background: #fff;
	margin-bottom: $padding-base;
	padding: $padding-base 40px;
	box-shadow: 0 0 6px rgba($mid-gray,0.4);
  h4 {
    @extend .projthumb__title;
    text-align: left;
    margin-bottom: $padding-base;
  }
  &__image {
    @include column(3/12);
  }
  &__info {
    @include column(9/12);
  }
  &__tags {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      padding: $padding-base/3 $padding-base;
      margin-right: $padding-base/2;
      background: $link-color-work;
      color: #fff;
      border-radius: 2px;
    }
  }
  &__listen,
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  a {
    color: $link-color-work;
    &:hover {
      color: lighten($link-color-work,20%);
    }
  }
}
