.home__container {
  background: $mid-gray;
  color: #fff;
  font-family: $font-headline;
  @media #{$large-viewport} {
    width: 460px;
  }
  margin: 0 auto;
}

.home__titlebox {
  padding: $padding-base;
  padding-top: 10em;
  letter-spacing: 0.1em;
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
}

.home__menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    width: 100%;
  }
  li {
    display: table-cell;
    width: 33.3%;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid $body-bg-color;
    border-right: 2px solid $body-bg-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:last-child {
      border-right: 0;
    }
  }
  a {
    display: block;
    padding: $padding-lg $padding-base;
    text-decoration: none;
    color: #fff;
  }
}

.homelink--work {
  background: $link-color-work-lt;
  &:hover {
    background: darken($link-color-work-lt,20%);
  }
}
.homelink--blog {
  background: $link-color-blog;
  &:hover {
    background: darken($link-color-blog,20%);
  }
}
.homelink--about {
  background: $link-color-about;
  &:hover {
    background: darken($link-color-about,10%);
  }
}
