body {
    -webkit-font-smoothing: antialiased;
}

#top {
    background-position: 0 0;
    background-attachment: fixed;
    height: 20em;
}

article .meta {
    position: absolute;
    top: 0;
    left: -60px;
    padding-top: 0;
}

article .meta span {
    display: block;
    font-size: .6em;
    line-height: 1em;
    margin-bottom: .25em;
}

h3 {
    font-size: 1.1em;
}

#contents {
    font-size: 1.5em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#innertop {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#contents h2 {
    font-size: 2em;
}

.type-video,
.type-image {
    margin-left: 10%;
    margin-right: 10%;
}

.type-video .caption,
.type-image .articlebody {
    margin-left: 0;
    margin-right: 0;
}

.permalink {
    text-align: right;
}